# Data Science Tools and Ecosystem

### In this Notebook, Data Science Tools and Ecosystem are Summarized

**Objectives:**
- List of popular languages for data scientists
- List od the commonly libraries used by Data Scientists
- Few examples of evaluating aritmethic expressions in python

**Some of the popular languages that Data Scientists** 
1. python
2. Scala
3. R
4. SQL

**Some of the commonly used libraries used by Data Scientists include:**
1. Numpy
2. Pandas
3. ggplot
4. Matplotlib

|Data Science Tools|
|------------------|
|Jupyter Notebook  |
|RStudio           |
|GITHUB|

### Below are a few examples of evaluatig arithmetic expressions in Python

In [3]:
# this is a simple aritmethic expression to multiply then add integers
(3*4)+5

17

In [18]:
#this will converto 200 minutes to hours by diving by 60
a=(200/60)

In [19]:
print(a, "hours")

3.3333333333333335 hours

## Author
Alejandra Sánchez Cortés